<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <h2>Edit</h2>
        <br>
        <form action="/products/editloai/{{product._id}}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="masoloai">Loai san pham:</label>
                <input type="text" class="form-control" id="masoloai" placeholder="Enter ma so" name="masoloai"
                    value="{{product.maso}}">
            </div>
            <div class="form-group">
                <label for="name">Tên Sản Phẩm:</label>
                <input type="text" class="form-control" id="name" placeholder="Enter product name" name="name"
                    value="{{product.name}}">
            </div>
            <div class="form-group">
                <label for="loaisanpham">Loại</label>
                <select class="form-control" id="loaisanpham" name="loaisanpham">

                    {{#each loaiSP}}
                    {{#if (soSanh this._id ../product.loaisanpham)}}
                    <option selected value="{{this._id}}">{{this.name}}</option>
                    {{else}}
                    <option value="{{this._id}}">{{this.name}}</option>
                    {{/if}}
                    {{/each}}
                </select>

            </div>

            <div class="form-group">
                <label for="img">Ảnh:</label>
                <input type="file" required class="form-control" placeholder="Enter image" id="img" name="img">
            </div>
            <div>
                <img width="100" height="50" id="showimg" src="http://localhost:3000/images/{{product.img}}">
            </div>


            <button type="submit" class="btn btn-primary">submit</button>
        </form>
    </div>


    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#showimg').attr('src', e.target.result);
                    $('#showimg').removeClass("d-none");
                }

                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }

        $("#img").change(function () {
            readURL(this);
        });
    </script>

</body>

</html>